{% extends "base.html" %}
{% load mathfilters %}
{% block title %}
    Статья
{% endblock %}

{% block content %}

    <div class="row my-5">
        <div class="col-lg">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'home' %}">
                        <button type="button" class="btn border-secondary btn-light">Назад &#8629;</button>
                    </a>
                </div>
            </div>
            <br>
            <div class="row my-1">
                <div class="col-lg-11">
                    <h2>{{ article.name }}</h2>
                </div>
                <div class="col-lg-1">
                    {% if article.author == user %}
                        <a href="{% url 'update' pk=article.pk %}" style="text-decoration: none;">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;
                        <a href="{% url 'delete' pk=article.pk %}" style="text-decoration: none;">
                            <i class="bi bi-trash"></i>
                        </a>{% endif %}
                </div>
            </div>
            <hr>
            <p>{{ article.article }}</p>
            <small>Created: {{ article.date | date:"d.m.Y h:m" }} | by: {{ article.author }}</small>
            <p></p>
            <br>

            <form action="{% url 'like_article' pk=article.pk %}" method="post">{% csrf_token %}

                {% if users %}
                    <p>Нравится {% if liked %}{{ user }}{% else %}{{ users.first }}{% endif %}
                        {% if  users|length > 1 %}и ещё {{ total_likes|sub:1 }}{% endif %}</p>
                {% endif %}
                {% if  user.is_authenticated %}
                    <button type="submit" name="article_id" value="{{ article.pk }}"
                            class="btn btn-outline-danger btn-sm"> {{ total_likes }}
                        {% if liked %}<i class="bi bi-heart-fill"></i>
                        {% else %}<i class="bi bi-heart"></i>
                        {% endif %}
                    </button>
                {% else %}
                    <button type="button" class="btn btn-outline-danger btn-sm">
                        {{ total_likes }}<i class="bi bi-heart"></i>
                    </button>
                    <a href="{% url 'accounts:login' %}"> Войдите</a>, чтобы лайкнуть
                {% endif %}

            </form>


            <br>
            {% if  user.is_authenticated %}
                <div class="col-lg-6">
                    {% url 'save_comment' pk=object.pk as action %}
                    {% include 'form.html' with button="Комментировать" action=action %}
                </div>
            {% endif %}

            {% if comments %}
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="col-4 mx-auto">
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">Посмотреть комментарии
                            </button>
                        </div>
                        <p></p>
                        <div class="collapse" id="collapseExample">
                            <div class="card w-60">
                                {% for comment in comments %}
                                    <div class="card text-center mb-3">
                                        <div class="card-header text-muted">
                                            {{ comment.commentator }}
                                        </div>
                                        <div class="card-body">
                                            {{ comment.comment }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
