{% extends "base.html" %}

{% block title %}
    Статья
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-lg">
                <h2>{{ article.name }}</h2>
                <p>{{ article.article }}</p>
                <small>Created: {{ article.date | date:"d.m.Y h:m" }} | by: {{ article.author }}</small>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Comments
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ comment.commentator }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.comment }}</p>
{#                        <a href="#" class="btn btn-light btn-outline-secondary btn-sm">Комментрировать</a>#}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
