{% extends "base.html" %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-8">

                {% for obj in page_obj %}
                    <div class="card border-secondary mb-3">
                        <div class="card-header">
                            <h4>{{ obj.name }}</h4>
                        </div>
                        <div class="card-header">
                            <small>By: {{ obj.author }} | {{ obj.date | date:"d N Y H:i" }}  </small>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-3">
                                <p class="card-text">{{ obj.article | truncatewords:25 }}</p>
                            </blockquote>
                            <a href='{% url "detail" pk=obj.pk %}'>
                                <button type="submit" class="btn border-secondary btn-light">Read more</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Самые комментируемые статьи
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for article in top_articles %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href='{% url "detail" pk=article.article.pk %}'>{{ article.article.name }}</a>
                                    <span class="badge rounded-pill bg-light text-dark">{{ article.count }}</span>
                                </li>
                        {% endfor %}
                    </ul>
                    {#                {% for article, count in sorted_articles.items %}#}
                    {#                    {{ comments.article }} {{ count }}#}
                    {#                {% endfor %}#}

                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label='Previous'>
                        <span aria-hidden="true">&laquo;</span></a>
                {% endif %}
            </li>

            {% for page in page_obj.paginator.page_range %}

                <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                    <a class="page-link" href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label='Next'>
                        <span aria-hidden="true">&raquo;</span></a>


                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}
